{
    "presets": ["es2015", "stage-0"],
    "plugins": ["transform-object-assign", "transform-flow-strip-types", "transform-runtime"],
    "env": {
        "development": {
            "sourceMaps": "both",
            "retainLines": true
        }
    }
}
